.about {
	background-color: $white;
}

.page-section-about-text {
	max-width: 800px;
	margin: 0 auto;
}

.page-section-about-video {
	margin-top: 70px;
}

.page-section-about-text-title {
	font-family: $title-font;
	color: $main-color;
	font-size: 22px;
	line-height: 1.5em;
	margin-bottom: 30px;
}