.faq {
	background-color: $white;
}

.page-section-faq-question {
	max-width: 800px;
	margin: 0 auto;
}


.page-section-question-title {
	color: $main-color;
	font-family: $title-font;	
	font-weight: 600;
}