.navleft {
	width: 120px;
	height: 100%;
	position: fixed;
	top: 55px;
	bottom: 0;
}

.navleft-wrapper {
	border-right: 1px solid $light-gray;
}

.navleft-block-item {
	display: block;
	height: 120px;
	position: relative;
	border-bottom: 1px solid $light-gray;
}

.navleft-block-item-link {
	width: 100%;
	height: 100%;
	font-weight: 300;
	font-size: 16px;
	position: absolute;
	text-decoration: none;
	text-align: center;
	transition: color 0.5s $easeOutQuart;
	color: $text-color;
	box-sizing: border-box;
	&:before {
		content:"";
		display: block;
		background-color: $main-color-dark;
		height: 100%;
		width: 0px;
		position: absolute; 
		top: 0;
		transition: width 0.5s $easeOutQuart, background-color 0.5s $easeOutQuart;
	}
	&.active {
		// border-bottom: 2px solid $main-color-light;
	}
	&:hover, &:focus, &.active {
		color: #c4b2bd;
		&:before {
			width: 119px;
		} 
		.navleft-block-item-icon {
			color: #c4b2bd;
		}
	}
	&.active {
		color: $white;
		.navleft-block-item-icon {
			// transform: translate(0, -2px);
			color: $white;
		}
		&:before {
			background-color: $main-color;
		}
		
	}
}

.navleft-block-item-link-inner {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 120px;
}

.navleft-block-item-icon {
	width: 80px;
	height: 40px;
	display: block;
	margin: 0 auto;
	margin-bottom: 7px;
	color: $main-color;
	transform: translate(0, 3px);
	transition: transform 1s $easeOutQuart, color 1s $easeOutQuart;
}

.navleft-block-item-icon-outfit {
	height: 55px;
}

.navleft-block-item-icon-lookbook {
	height: 60px;
}